
* {
    text-decoration: none;
}
.header-contactos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4db03;
    border-bottom: 1px solid #ccc;
    color: black;
}
.imagen-contacto {
    margin: 10px,20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}
.contact-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
.contact-info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}